<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/add-product.css" />
<head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <section>
        <h2>Add you product</h2>
        <% if(errorMessage.length > 0){ %>
        <div class="error"><%= errorMessage[0].msg %></div>
        <%}%>
        <br />
        <form
          action="<%if(edit){%>/admin/edit-product<%} else{%>/admin/add-product<%}%>"
          method="POST"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input
            type="text"
            name="title"
            id="title"
            autocomplete="title"
            placeholder="Product Title"
            value="<%= edit || errorMessage.length > 0 ? props.title : '' %>"
            class="<%= errorMessage.find(e => e.path === 'title') ? 'invalid' : '' %>"
          />
          <input
            type="text"
            name="imageUrl"
            id="imageUrl"
            autocomplete="imageUrl"
            placeholder="Image URL"
            value="<%= edit || errorMessage.length > 0 ? props.imageUrl : '' %>"
            class="<%= errorMessage.find(e => e.path === 'imageUrl') ? 'invalid' : '' %>"
          />
          <input
            type="number"
            name="price"
            id="price"
            autocomplete="price"
            placeholder="Product Price"
            value="<%= edit || errorMessage.length > 0 ? props.price : '' %>"
            class="<%= errorMessage.find(e => e.path === 'price') ? 'invalid' : '' %>"
          />
          <textarea
            name="description"
            id="description"
            placeholder="Product description"
            class="<%= errorMessage.find(e => e.path === 'description') ? 'invalid' : '' %>"
          >
<% if (edit || errorMessage.length > 0 ) { %><%= props.description %><% } %></textarea
          >

          <% if(edit){ %>
          <input type="hidden" name="id" id="id" value="<%= props._id %>" /> <%
          } %>

          <button type="submit">
            <%if(edit){%>Update Product<%} else{%>Add to produc"<%}%>
          </button>
        </form>
      </section>

      <%- include('../includes/end.ejs') %>
    </main>
  </body>
</head>
